<!DOCTYPE html>
<html>
<head>

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="robots" content="index, follow">
<meta name="description" content="Boomerang is a responsive website template based on the well known Bootstrap framework. It's very well structured with lots of features and demos ready to be used.">
<meta name="keywords" content="bootstrap, responsive, template, website, html, theme, ux, ui, web, design, developer, support, business, corporate, real estate, education, medical, school, education, demo, css, framework">
<meta name="author" content="Webpixels">

<title>Boomerang - Multipurpose Bootstrap Theme</title>

<!-- Favicon -->
<link href="../../assets/images/favicon.png" rel="icon" type="image/png">


</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar--bold  navbar-transparent navbar-inverse bg-dark ">
        <div class="container navbar-container">
            <!-- Brand/Logo -->
                         <a class="navbar-brand" href="#">
                            <%= image_tag('LP1_logo_thp.png') %>
                        </a>
            

    <ul class="navbar-nav ml-lg-auto">
        <li class="nav-item">
            <a href="https://www.thehackingproject.org/modalites" class="nav-link">
               Modalités
            </a>
        </li>
    </ul>
</div>


<div class="pl-4 d-none d-lg-inline-block">
    <a href="https://www.thehackingproject.org/catalogue" class="btn btn-styled btn-sm btn-base-5 text-uppercase btn-circle" target="_blank">
        Inscription
            </a>
</div>
        </div>
    </nav>
</div>

                    <!-- Slider -->
                    <section class="swiper-js-container background-image-holder" data-holder-type="fullscreen" data-holder-offset=".navbar">
    <div class="swiper-container" data-swiper-autoplay="true" data-swiper-effect="coverflow" data-swiper-items="1" data-swiper-space-between="0">
        <div class="swiper-wrapper">

            <!-- Slide -->
            <div class="swiper-slide" data-swiper-autoplay="5000">
                <!-- Slide -->
                <div class="slice holder-item holder-item-light has-bg-cover bg-size-cover" style="background-image: url( <%= asset_path 'LP1_etudiants.jpg' %>); background-position: center; opacity: 0.8;">
                    <div class="container container-sm d-flex align-items-center">
                        <div class="col">
                            <div class="row py-5 text-center">
                                <div class="col col-xs-12">
                                      <h1 class="heading heading-1 strong-600 animated">
                                        <em>The Hacking Project</em> </h1> 

                                        <h3 class="heading heading-2 strong-300 animated" data-animation-in="fadeInDownBig" data-animation-delay="500">
                                            Apprends à coder en 3 mois, à temps plein, gratuitement
                                        </h3>

                                    <a href="#" class="btn btn-styled btn-base-1 btn-circle mt-5 animated" data-animation-in="flipInY" data-animation-delay="1500" data-scroll-to="#scrollToSection">Learn more</a>

                                    <p><%= form_for @user, url: {action: "create"} do |f| %>
                                    <%= f.text_field :email %><button class= "btn btn-default">Envoyer mon mail!</button><% end %></p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

                    <section class="slice sct-color-1" id="scrollToSection">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4 col-12">
                                    <div class="card card-colored bg-base-1">
                                        <div class="card-body px-4">
                                            <a href="#" class="image featured"><%= image_tag('LP1_peer.jpg', height:250, length:250) %></a>
                                                <div class="icon-block--style-1-v5 text-center">
                                                    <div class="block-content mt-3">
                                                        <h3 class="heading heading-4 strong-500 text-capitalize">
                                                            Peer Learning
                                                        </h3>
                                                        <p class="mt-3">
                                                            Une méthode d'apprentissage où les élèves deviennent professeurs et doivent s'expliquer entre eux les concepts à apprendre. Met l'accent sur l'entraide, la communauté, et la communication.
                                                        </p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-12">
                                    <div class="card card-colored bg-base-2">
                                        <div class="card-body px-4">
                                            <a href="#" class="image featured"><%= image_tag('LP1_baby.jpg', height:280, length:280) %></a>
                                                <div class="icon-block--style-1-v5 text-center">
                                                    <div class="block-content mt-3">
                                                        <h3 class="heading heading-4 strong-500 text-capitalize">
                                                            100% gratuit
                                                        </h3>
                                                        <p>
                                                            The Hacking Project est un bootcamp de développement web entièrement gratuit, accessible à tous et partout dans le monde. C'est juste une question de motivation.
                                                        </p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-12">
                                    <div class="card card-colored bg-base-1">
                                        <div class="card-body px-4">
                                            <a href="#" class="image featured"><%= image_tag('LP1_machine.jpg', height:280, length:280) %></a>
                                                <div class="icon-block--style-1-v5 text-center">
                                                    <div class="block-content mt-3">
                                                        <h3 class="heading heading-4 strong-500 text-capitalize">
                                                            Développement web
                                                        </h3>
                                                        <p>
                                                              Le but de cette formation: te donner les outils techniques pour maîtriser les technologies web (front & back-end) et pouvoir créer des sites de A à Z.
                                                        </p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

<!-- Comment ça marche ? -->

 <section class="slice sct-color-1" id="scrollToSection">
                        <div class="container">
                            <div class="row cols-xs-space cols-sm-space cols-md-space">
                                <div class="col-lg-4 col-12">
                                    <div class="card card-colored bg-base-2">
                                        <div class="card-body px-4">
                                            <a href="#" class="image featured"><%= image_tag('LP1_study.jpg', height:280, length:280) %></a>
                                                <div class="icon-block--style-1-v5 text-center">
                                                    <div class="block-content mt-3">
                                                        <h3 class="heading heading-4 strong-500 text-capitalize">
                                                            Le pré-parcours
                                                        </h3>
                                                        <p class="mt-3">
                                                           Afin d'être prêt pour tes deux mois et demi de formation tu devras effectuer un pré-parcours qui te donnera toutes les bases pour débuter ton bootcamp.
                                                        </p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-12">
                                    <div class="card card-colored bg-base-1">
                                        <div class="card-body px-4">
                                            <a href="#" class="image featured"><%= image_tag('LP1_team.jpg', height:280, length:280) %></a>
                                                <div class="icon-block--style-1-v5 text-center">
                                                    <div class="block-content mt-3">
                                                        <h3 class="heading heading-4 strong-500 text-capitalize">
                                                            Rejoins ta future team
                                                        </h3>
                                                        <p>
                                                            Tu travailleras avec des personnes proches de chez toi avec qui tu réaliseras de multiples projets, et intègreras également la famille THP.
                                                        </p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-12">
                                    <div class="card card-colored bg-base-2">
                                        <div class="card-body px-4">
                                            <a href="#" class="image featured"><%= image_tag('LP1_code.jpg', height:280, length:280) %></a>
                                                <div class="icon-block--style-1-v5 text-center">
                                                    <div class="block-content mt-3">
                                                        <h3 class="heading heading-4 strong-500 text-capitalize">
                                                            Apprends à coder
                                                        </h3>
                                                        <p>
                                                              Voici une liste des langages enseignés qui te permettra de créer des sites web complexes très rapidemment : HTML5, CSS3, Javascript, Ruby, Ruby on rails & SQL
                                                        </p>
                                                    </div>
                                                </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                    

                    <!-- FOOTER -->
                    <footer id="footer" class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row cols-xs-space cols-sm-space cols-md-space">
                <div class="col-lg-5">
                    <div class="col">
                        <a href="#" class="image featured"><%= image_tag('LP1_courgette.png')%></a>
                        <span class="clearfix"></span>
                        <span class="heading heading-sm c-gray-light strong-400">C'est bon les courgettes</span>
                        <p class="mt-3">
                            N'oubliez-pas de manger 5 fruits et légumes par jour !
                        </p>

                        <div class="copyright mt-4">
                            <p>
                                Copyright &copy; 2018                                <a href="https://www.youtube.com/watch?v=PD3RCwNseqQ&list=RDPD3RCwNseqQ&start_radio=1" target="_blank">
                                    <strong>Courgette</strong>
                                </a> -
                                All rights reserved
                            </p>
                        </div>
                    </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                       <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                           Support
                       </h4>

                       <ul class="footer-links">
                            <li><a href="https://www.youtube.com/watch?v=YHj0KHILMqQ" title="Help center">Help center</a></li>
                            <li><a href="https://fr.wikipedia.org/wiki/T%C3%A9l%C3%A9phone_rose" title="Discussions">Discussions</a></li>
                            <li><a href="https://www.youtube.com/watch?v=YUNtPBmQTR8">Contact</a></li>
                            <li><a href="https://www.welcometothejungle.co/companies/agricool" title="Jobs">Job</a></li>
                        </ul>
                     </div>
                </div>

                <div class="col-lg-2">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            Company
                        </h4>

                        <ul class="footer-links">
                             <li>
                                 <a href="https://www.thehackingproject.org/" title="Home">
                                     Home
                                 </a>
                             </li>
                             <li>
                                 <a href="https://www.thehackingproject.org/about" title="About us">
                                     About us
                                 </a>
                             </li>
                             <li>
                                 <a href="https://www.thehackingproject.org/contact" title="Contact">
                                     Contact
                                 </a>
                             </li>
                         </ul>
                    </div>
                </div>

                <div class="col-lg-3">
                    <div class="col">
                        <h4 class="heading heading-xs strong-600 text-uppercase mb-1">
                            Get in touch
                        </h4>

                        <ul class="social-media social-media--style-1-v4">
                            <li>
                                <a href="https://www.facebook.com/profile.php?id=100009874902206&ref=br_rs" class="image featured"><%= image_tag('LP1_facebook.png')%></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com/in/ernesto-karl-pereira/"><%= image_tag('LP1_linkedin.png')%></a>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/olivthp"><%= image_tag('LP1_twitter.png')%></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
                </div>
            </div>
        </div><!-- END: st-pusher -->
    </div><!-- END: st-container -->
</div><!-- END: body-wrap -->

<!-- SCRIPTS -->
<a href="#" class="back-to-top btn-back-to-top"></a>

</body>
</html>